build-tuxuci-tuberxpert-Desktop_Qt_6_2_3_MinGW_64_bit-Debug
build-test-Desktop_Qt_6_2_3_MinGW_64_bit-Debug
*.user
dev/tucuxi-tuberxpert/build-tucuxi-tuberxpert-Desktop_Qt_6_2_3_MinGW_64_bit-Debug/debug/tuberxpert.log
