/**
  =======================================================
  CSS for managing A4 page in order to be printed nicely.
  =======================================================
*/

.page-A4 {
  width: 21cm;
  height: 100%;
  margin: auto;
  padding: 0 1cm 0 1cm;
  background-color: white;
}

.avoid-break-inside, tr, table {
  page-break-inside: avoid;
}

/**
  =======================================================
  TuberXpert Globals
  =======================================================
*/


h3 {
  text-decoration: underline;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

h4 {
  text-decoration: underline;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.page-A4 > div {
  margin-top: 1rem;
}

hr {
  margin-top: 0.5cm;
  border: 1px solid black;
}

body {
  background-color: #525659;
}

.bg-light-grey{
  background-color: #F1F1F1;
}

.bg-warning-normal {  
  background-color: #E8C882;
}


.bg-warning-critical {
  background-color: #E5807F;
}

table {
  column-gap: 0.5cm;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

table, th, td {
  border: transparent;
}

td, th {
  vertical-align: top;
  word-wrap: break-word;
  padding: 3px;
}

table table {
  width: 99%;
  margin: auto;
  margin-bottom: 3px;
}

table table td {
  vertical-align: middle;
}

table table td:nth-child(1) {
  width: 6%;
  padding: 5px;
}

table img[alt='Dot icon image from asset/img/dot.png'] {
  margin-top: 5px;
}

/**
  =======================================================
  TuberXpert header
  =======================================================
*/

.header tr td {
  width: 33%;
  vertical-align:bottom;
}

.header tr td:nth-child(2) {
  text-align: center;
  text-decoration: underline;
}

.header tr td:nth-child(3) {
  text-align: right;
}

hr {
  margin-top: 0.2cm;
  margin-bottom: 0.5cm;
}

/**
  =======================================================
  TuberXpert drug intro
  =======================================================
*/

.drug-intro > tbody > tr:nth-child(1) {
  background-color: white;
}

.drug-intro th {
  text-align: left;
}

.drug-intro tr th:nth-child(1) {
  width: 25%;
}

.drug-intro tr th:nth-child(2) {
  width: 20%;
}

.drug-intro tr th:nth-child(3) {
  width: 55%;
}

/**
  =======================================================
  TuberXpert contacts
  =======================================================
*/

.contacts-header th {
  vertical-align: bottom;
}

.contacts-header tr th:nth-child(1) {
  width: 24%;
}

.contacts-header tr th:nth-child(2), .contacts-header tr th:nth-child(3) {
  width: 38%;
}

.contacts {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.contacts tr td:nth-child(1) {
  width: 6%;
  vertical-align: middle;
  text-align: center;
}

.contacts tr th {
  width: 17%;
  text-align: right;
  border-right: 1px solid black;
  padding-right: 4px;
}

.contacts tr td:nth-child(2), .contacts tr td:nth-child(3) {
  width: 38%;
  padding-left: 4px;
}

/**
  =======================================================
  TuberXpert clinical data
  =======================================================
*/

.clinical-data tr th {
  width: 25%;
  text-align: right;
}

.clinical-data tr td {
  width: 75%;
  vertical-align: top;
  text-align: left;
  padding-left: 8px;
}

.clinical-data tr + tr {
  border-top: 4px solid white;
}

/**
  =======================================================
  TuberXpert covariates
  =======================================================
*/

.covariate td {
  text-align: left;
}

.covariate > tbody > tr > td:nth-child(1), .covariate > tbody > tr > td:nth-child(2), .covariate > tbody > tr > td:nth-child(3)  {
  width: 33%;
}

div[class='avoid-break-inside'] + .covariate,
.covariate + .covariate {
  border-top: 4px solid white;
}

/**
  =======================================================
  TuberXpert treatment & adjustment
  =======================================================
*/

.dosage-time-range img[src='asset/img/dot.png'] {
  margin-top: 3px;
}

.dosage-time-range table tr td:nth-child(1) {
  text-align: center;
}

div[class='avoid-break-inside'] + .dosage-time-range, 
.dosage-time-range + .dosage-time-range {
  border-top: 4px solid white;
}

.adjustment-score {
  margin-left: 3px;
  padding-bottom: 3px;
}

/**
  =======================================================
  TuberXpert samples
  =======================================================
*/

div[class='avoid-break-inside'] + .sample, .sample + .sample {
  border-top: 4px solid white;
}

/**
  =======================================================
  TuberXpert Targets
  =======================================================
*/

.targets-header th, .target td {
  vertical-align: middle;
  text-align: left;
}

.targets-header th:nth-child(1), .target td:nth-child(1) {
  width: 5%;
}

.target td:nth-child(1) {
  vertical-align: middle;
  text-align: center;
}

.targets-header th:nth-child(2), .target td:nth-child(2)  {
  width: 60%;
}

.targets-header th:nth-child(3), .target td:nth-child(3)  {
  width: 20%;
}

.targets-header th:nth-child(4), .target td:nth-child(4)  {
  width: 15%;
}

.target div {
  text-align: left;
  background-color: silver;
  margin-left: 1cm;
  margin-right: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

div[class='avoid-break-inside'] + .target, .target + .target {
  border-top: 4px solid white;
}

/**
  =======================================================
  Pharmacokinetic parameters
  =======================================================
*/

.pk td:nth-child(1) {
  text-align: center;
}


.pk-header th:nth-child(1), .pk td:nth-child(1) {
  width: 5%;
}

.pk-header th:nth-child(2), .pk td:nth-child(2)  {
  width: 20%;
}

.pk-header th:nth-child(3), .pk td:nth-child(3),
.pk-header th:nth-child(4), .pk td:nth-child(4),
.pk-header th:nth-child(5), .pk td:nth-child(5)  {
  width: 25%;
}

.pk-header th {
  text-align: left;
}

.pk td, .pk-header th {
  vertical-align: middle;
}

div[class='avoid-break-inside'] + .pk, .pk + .pk {
  border-top: 4px solid white;
}

/**
  =======================================================
  Predictions
  =======================================================
*/

.predictions th {
  width: 40%;
  text-align: end;
  background-color: white;
  padding-right: 6px;
}

.predictions td  {
  width: 60%;
  padding-left: 6px;
}

/**
  =======================================================
  Computation covariates
  =======================================================
*/ 

.computation-covariate tr > td:nth-child(1) {
  text-align: center;
}

.computation-covariate tr > td:nth-child(1) > img {
  padding-top: 2px;
}

.computation-covariate-header th:nth-child(1),
.computation-covariate td:nth-child(1) {
  width: 5%;
}

.computation-covariate-header th:nth-child(2),
.computation-covariate td:nth-child(2) {
  width: 40%;
}

.computation-covariate-header th:nth-child(3),
.computation-covariate td:nth-child(3) {
  width: 45%;
}

.computation-covariate-header th {
  text-align: left;
}

.computation-covariate td {
  vertical-align: middle;
}

div[class='avoid-break-inside'] + .computation-covariate, .computation-covariate + .computation-covariate {
  border-top: 4px solid white;
}

/**
  =======================================================
  TuberXpert canvas
  =======================================================
*/

.canvasAdjustments {
  width: 19cm;
  height: 12.6cm;
}

.canvasAdjustments > canvas {
  height:12.6cm;
  width:19cm;
}

/**
  =======================================================
  TuberXpert copyright
  =======================================================
*/

.copyright {
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: x-small;
  text-align: center;
}

/**
  =======================================================
  TuberXpert Ending
  =======================================================
*/

.ending {
  height: 19px;
}




