
/**
  =======================================================
  CSS for managing A4 page in order to be printed nicely.
  =======================================================
*/

.page-A4 {
  width: 21cm;
  margin: auto;
  padding: 0 1cm 0 1cm;
  background-color: white;
}

.page-A4 > table > tbody > tr {
  page-break-inside: avoid;
  
}

.newpage {
  page-break-before: always;
}

/**
  =======================================================
  TuberXpert Globals
  =======================================================
*/

h1, h2, h3, h4, h5 {
  margin: 0px;
}

h3 {
  text-decoration: underline;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

h4 {
  text-decoration: underline;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h5 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.underline {
  text-decoration: underline;
}

.page-A4 > div {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

hr {
  margin-top: 0.5cm;
  border: 1px solid black;
}

body {
  background-color: #525659;
}

.bg-light-grey{
  background-color: #F1F1F1;
}

.bg-warning-normal {  
  background-color: #E8C882;
}


.bg-warning-critical {
  background-color: #E5807F;
}

table {
  column-gap: 0.5cm;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

table, th, td {
  border: transparent;
}

td, th {
  vertical-align: top;
  word-wrap: break-word;
  padding: 3px;
}

table table {
  width: 99%;
  margin: auto;
  margin-bottom: 3px;
}

table table td {
  vertical-align: middle;
}

table table td:nth-child(1) {
  width: 6%;
  padding: 5px;
}

/**
  =======================================================
  TuberXpert header
  =======================================================
*/

.header tr td {
  width: 33%;
  vertical-align:bottom;
}

.header tr td:nth-child(2) {
  text-align: center;
}

.header tr td:nth-child(3) {
  text-align: right;
}

hr {
  margin-top: 0.2cm;
  margin-bottom: 0.5cm;
}

/**
  =======================================================
  TuberXpert header
  =======================================================
*/

.drug-intro tr td:nth-child(1), .drug-intro tr td:nth-child(2) {
  width: 25%;
}

.drug-intro tr td:nth-child(2) {
  width: 20%;
}

.drug-intro tr td:nth-child(3) {
  width: 55%;
}

/**
  =======================================================
  TuberXpert contacts
  =======================================================
*/

.contacts-header tr th:nth-child(1) {
  width: 24%;
}

.contacts-header tr th:nth-child(2), .contacts-header tr th:nth-child(3) {
  width: 38%;
}

.contacts {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.contacts tr td:nth-child(1) {
  width: 6%;
  vertical-align: middle;
  text-align: center;
}

.contacts tr th {
  width: 17%;
  text-align: right;
  border-right: 1px solid black;
  padding-right: 4px;
}

.contacts tr td:nth-child(2), .contacts tr td:nth-child(3) {
  width: 38%;
  padding-left: 4px;
}

/**
  =======================================================
  TuberXpert clinical data
  =======================================================
*/

.clinical-data tr th {
  width: 25%;
  text-align: right;
}

.clinical-data tr td {
  width: 75%;
  vertical-align: top;
  text-align: left;
  padding-left: 8px;
}

.clinical-data tr + tr {
  border-top: 4px solid white;
}

/**
  =======================================================
  TuberXpert covariates
  =======================================================
*/

.covariates th {
  text-align: left;
}

.covariates > tbody > tr:nth-of-type(4n) {
  border-top: 4px solid white;
}

/**
  =======================================================
  TuberXpert treatment
  =======================================================
*/

.treatment > tbody > tr:nth-of-type(3n) {
  border-top: 4px solid white;
}

.treatment img[src="asset/img/dot.png"] {
  margin-top: 3px;
}

.treatment table tr td:nth-child(1) {
  text-align: center;
}

/**
  =======================================================
  TuberXpert samples
  =======================================================
*/

.samples > tbody > tr:nth-of-type(2n + 3) {
  border-top: 4px solid white;
}

/**
  =======================================================
  TuberXpert Adjustments
  =======================================================
*/

.adjustments > tbody > tr:nth-child(1) {
  background-color: white;
}

.adjustments th {
  text-align: left;
}

.adjustments tr > td:nth-child(1) {
  text-align: center;
}

.adjustments tr > td:nth-child(1) > img {
  padding-top: 2px;
}

.adjustments th:nth-child(1) {
  width: 5%;
}

.adjustments th:nth-child(2), .adjustments th:nth-child(3)  {
  width: 20%;
}

.adjustments tr[class="loading-dose"] {
  margin-right: 1cm;
  padding-right: 1cm;
}

.adjustments div {
  text-align: left;
  background-color: silver;
  margin-left: 1cm;
  margin-right: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

/**
  =======================================================
  TuberXpert Targets
  =======================================================
*/

.targets > tbody > tr:nth-child(1) {
  background-color: white;
}

.targets th {
  text-align: left;
}

.targets tr > td:nth-child(1) {
  text-align: center;
}

.targets tr > td:nth-child(1) > img {
  padding-top: 2px;
}

.adjustments th:nth-child(1) {
  width: 5%;
}

.targets th:nth-child(2)  {
  width: 20%;
}

.targets th:nth-child(3)  {
  width: 60%;
}

.targets th:nth-child(4)  {
  width: 15%;
}

.targets tr[class="target-values"] {
  margin-right: 1cm;
  padding-right: 1cm;
}

.targets div {
  text-align: left;
  background-color: silver;
  margin-left: 1cm;
  margin-right: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

/**
  =======================================================
  Pharmacokinetic parameters
  =======================================================
*/

.pks tr > td:nth-child(1) {
  text-align: center;
}

.pks tr > td:nth-child(1) > img {
  padding-top: 2px;
}

.pks th:nth-child(1) {
  width: 5%;
}

.pks th:nth-child(2)  {
  width: 20%;
}

.pks th:nth-child(3), .pks th:nth-child(4), .pks th:nth-child(5)  {
  width: 25%;
}

.pks th {
  text-align: left;
}


/**
  =======================================================
  TuberXpert copyright
  =======================================================
*/

.copyright {
  margin-top: 0.5cm;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: x-small;
  text-align: center;
}




